.line8 {
       width: 50px;
       height: 35px;
       background-color: skyblue;
}  


.rotates {
    transform: rotate(180deg);
    background-color:red;
    width: 80px;
    height: 15px;
  }

@keyframes girar {
    0% {
        transform: rotate(0deg) translateX(25px);
    }
    100% {
        transform: rotate(360deg) translateX(25px);
    }
}

.girar {
    width: 10px;
    height: 10px;
    border-radius: 200%;
    margin: 60px;

    animation: girar 3s linear infinite;
}